*{
    font-size: 20px;
    font-weight: 100;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

div{
    width: 300px;
    border: 1px solid gray;
    margin: 20px auto auto;
    text-align: justify;
    padding: 20px;
    transition: all 1s;
}
div img{
    float: left;
    width: 100px;
    margin: 10px;
    margin-bottom: -10px;
    border: 2px groove gray;
    
}
.text::first-line{
    font-weight: 400;
    color: darkblue;
}
.text::first-letter{
    font-size: 2em;
}
input[type="text"]{
   
    margin-top: 10px;
}

input[type="text"]::placeholder{
    font-size: .5em;
    color: darkcyan;
}
input[type="text"]::selection{
    color: white;
    background-color: black;
}
input[type="text"]:focus{
    border: 3px solid blueviolet;
}
b::before{
    content: "!Hola ";
}
b::after{
    content: ", ¿Cómo estás?";
}
div:hover{
    background-color: darkslateblue;
    color: white;
    cursor: pointer;
}
div:active{
    width: 400px;
    background-color: lightslategray;
    cursor: e-resize;
}

























































/*p{
    
    width: 400px;
    height: 400px;
    background-color: antiquewhite;
    margin: 0 auto;
    overflow-x:scroll;
    overflow-y:hidden;
}*/