*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
div{
    display: inline-block;
    width: 45%;
    background-color: #ddd;
}
h1{
    font-size: 20px;
}
.caja2{
    background-color: #bbb;
}
@media  (max-width: 800px) {
    div{
        display: block;
        width: 100%;
    }
    h1{
        font-size: 20px;
    }
}